@using ProyectoPrueba.Models
@model FACTURA_MODEL
@{
    ViewBag.Title = "AgregarFactura";
    List<SelectListItem> listaClientes = (List<SelectListItem>)ViewBag.listaClientes;
    List<SelectListItem> listaEstadoFactura = (List<SelectListItem>)ViewBag.listaEstadoFactura;
}

<h2>Agregar Factura</h2>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("AgregarFactura", "Home", FormMethod.Post, new { @id = "frmFactura" }))
        {
            <div>
                @Html.LabelFor(p => p.NUME_DOC)
                @Html.DropDownList("NUME_DOC", listaClientes, null, new { @class = "form-control" })
                @Html.ValidationMessage("NUME_DOC", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.CODI_ESTADO)
                @Html.DropDownList("CODI_ESTADO", listaEstadoFactura, null, new { @class = "form-control" })
                @Html.ValidationMessage("CODI_ESTADO", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.VALOR_FAC)
                @Html.TextBoxFor(p => p.VALOR_FAC, new { @class = "form-control" })
                @Html.ValidationMessage("VALOR_FAC", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.FECHA_FAC)
                @Html.EditorFor(model => model.FECHA_FAC, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("FECHA_FAC", new { @class = "text-danger" })
            </div>
            <br />
            <div style="margin:auto">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Enviar
                </button>
                @Html.ActionLink("Regresar", "Index", "Home", null, new { @class = "btn btn-danger" })
            </div>
        }
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Desea guardar los cambios?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div style="padding:1em">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="Agregar()" class="btn btn-info">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function Agregar() {
        var frm = document.getElementById("frmFactura");
        frm.submit();
    }
</script>
